<nav class="navbar navbar-expand-lg mynav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" src="assets/scr.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
  
        </ul>
        <form class="d-flex" role="search">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="toAboutMe()" >About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="toServices()">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="toWorks()">Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="toContact()">Contact</a>
                </li>
              </ul>
        </form>
      </div>
    </div>
  </nav>